/* Fundo da página */
body {
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background: linear-gradient(135deg, #5f2c82, #49a09d);
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Container principal*/
.container-publicacoes {
    background-color: #f4f4f4;
    width: 1200px;      /* largura fixa */
    height: 400px;      /* altura fixa */
    border-radius: 20px;
    padding: 30px;
    box-shadow: 0 15px 40px rgba(0, 0, 0, 0.2);
    overflow: hidden;   /* impede vazar conteúdo */
    display: flex;
    flex-direction: column;
}

/* Área da tabela com rolagem */
.tabela-container {
    flex: 1;            /* ocupa o espaço restante */
    overflow-y: auto;   /* scroll vertical */
    overflow-x: auto;   /* scroll horizontal se precisar */
    border-radius: 15px;
}

/* Título */
.container-publicacoes h2 {
    text-align: center;
    margin-bottom: 25px;
    color: #4b2e83;
}

/* Container com rolagem */
.tabela-container {
    max-height: 500px;   /* aumentei também pra combinar */
    overflow-y: auto;
    border-radius: 15px;
}

/* Scroll personalizada */
.tabela-container::-webkit-scrollbar {
    width: 8px;
}

.tabela-container::-webkit-scrollbar-thumb {
    background: #6a4bc4;
    border-radius: 10px;
}

/* Tabela */
table {
    width: 100%;
    border-collapse: collapse;
    background: white;
    border-radius: 15px;
    overflow: hidden;
}

/* Cabeçalho */
thead {
    background: linear-gradient(135deg, #6a4bc4, #8e6be8);
    color: rgb(0, 0, 0);
}

th {
    padding: 14px;
    text-align: center;
}

/* Linhas */
td {
    padding: 12px;
    text-align: center;
    border-bottom: 1px solid #eee;
}

/* Hover */
tbody tr:hover {
    background-color: #f0ebff;
    transition: 0.3s;
}

/* Última linha */
tbody tr:last-child td {
    border-bottom: none;
}